doctype html
html
  head
    title Socket.IO chat
    script(src='https://code.jquery.com/jquery-1.11.1.js')

    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
    
    link(rel='stylesheet', href='/css/main.css')
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script.
      var socket = io();
      $(document).ready(function(){
          $("form").submit(function(){
              socket.emit('chat_message', $('#m').val());
              $('#m').val('');
              return false;
          });
          
          socket.on('chat_message', function(msg){
            console.log('here');
            $('#messages').append($('<li>').text(msg));
          });  
          
      });
      
    body
        ul#messages
        .row
            form.col.s12
                .row
                    .input-field.col.s12
                        input#m.validate(type='text', autocomplete='off')
                        label(for='m') Message
                        button.btn-large.waves-effect.waves-light(type='submit', name='action')
                          | Send
                          i.material-icons.right send
