html
    head
      title Login | NomoChat
      script(src='https://code.jquery.com/jquery-1.11.1.js')

      // Compiled and minified CSS
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      // Compiled and minified JavaScript
      script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
      
      link(rel='stylesheet', href='/css/main.css')
    body
        .row.reg
            form.col.s4(action='/login', method='POST')
                .row
                    .input-field.col.s12
                        i.material-icons.prefix email
                        input#icon_prefix.validate(type='email', name='email')
                        label(for='icon_prefix') Email
                    .input-field.col.s12
                        i.material-icons.prefix vpn_key
                        input#pass.validate(type='password', name='password')
                        label(for='pass') Password
                    .input-field.col.s12
                        button.btn.waves-effect.waves-light(type='submit')
                            | Submit
                            i.material-icons.right send
                    
